@model Payrol_Administration.Web.Models.RPM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RPM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diametro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diametro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.galga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.galga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.agujas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.agujas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alimentadores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alimentadores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rollo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rollo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rpm1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rpm1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maquina }) |
    @Html.ActionLink("Back to List", "Index")
</p>
